<form [formGroup]="engineForm" validate>
    <div class="grid">
        <div class="col-6 box">
            <input type="text" formControlName="name" placeholder="Name" pInputText class="inputfield w-full">
        </div>
        <div class="col-6 box">
            <input type="text" formControlName="description" placeholder="Description" pInputText class="inputfield w-full">
        </div>
        <div class="col-6 box">
            <input type="text" formControlName="fuelType" placeholder="Fuel Type" pInputText class="inputfield w-full">
        </div>
        <div class="col-6 box">
            <input type="number" formControlName="price" placeholder="Price" pInputText class="inputfield w-full">
        </div>
        <div class="col-2">
            <button pButton type="button" icon="pi pi-check" iconPos="left" label="Submit" 
            [disabled]="!engineForm.valid" (click)="formSubmit()"></button>
        </div>
    </div>
</form>