<div class="grid">
    <div class="col-12">
        <button pButton pRipple type="button" icon="pi pi-refresh" label="Refresh data" class="p-button-raised p-button-success"
            (click)="getAllEngine()"></button>
        <button pButton pRipple type="button" icon="pi pi-plus" label="Add engine" class="p-button-raised p-button-info"
            (click)="addNewEngine()"></button>
    </div>
    <div class="col-12 md:col-6 lg:col-3" *ngFor="let engine of engineList">
        <p-card header="{{engine.name}}" (click)="onEngineClicked(engine)">
            <span>{{ engine.name }} - {{ engine.description }} - {{ engine.price}}</span>

            <ng-template pTemplate="footer">                
                <p-button label="Delete" icon="pi pi-times" styleClass="p-button-danger" (click)="delete($event, engine)"></p-button>
            </ng-template>
            
        </p-card>
    </div>
</div>

<p-dialog header="Header" [(visible)]="displayDialog" [style]="{width: '50vw'}">
    <app-engine-form (formSubmitted)="formSubmitted($event)" [engine]="selectedEngine"></app-engine-form>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayDialog=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<p-toast></p-toast>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
